<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Hello! MR. HUYNH NAM</h4>
      <img src="{{url}}" width="450"/>
    </div>
    <ul>
        <li><strong>Trường học:</strong> XYZ University</li>
        <li><strong>Lớp học:</strong> ABC Class</li>
        <li><strong>Mã số sinh viên:</strong> 123456</li>
        <li><strong>Họ Tên Sinh viên:</strong> Người dùng của bạn</li>
    </ul>
  </body>
</html>
